<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="heading">
            <h1>TODO Application</h1>
        </div>
        <form action="/add-item" method="POST">
            <div class="description">
                <label for="" >DECSRIPTION</label>
                <input type="text" name="description" class="no-border" placeholder="What do you need to do?">
            </div>
            <div class="categ-date">
                <div class="category-container">
                    <label for="category">CATAGORY</label>
                    <select name="category" id="category" >
                        <option value="">Choose a category</option>
                        <option value="Personal">Personal</option>
                        <option value="School">School</option>
                        <option value="Work">Work</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="date-container">
                    <label for="date" >DUE DATE</label>
                    <input type="date" name="date">
                </div>
            </div>
            <div class="btn-container">
                <button id="add-btn" type="submit"><i class="fa fa-plus"></i>ADD TASK</button>
                <div id="del-btn" ><i class="fa fa-trash-o"></i> DELETE TASKS</div>
            </div>
        </form>
        <div class="card-container">
                <% for (let i of todo_list) { %>
                    <div class="card-item">
                        <div class="details">
                            <input type="checkbox" name="delselect" class="delechack" id="agree" uid=<%=i._id %> onclick="checkedOrNot()">
                            <div class="desc-box" id=<%=i._id %> uid = <%= i._id %>>
                                <p class="desc">  <%= i.description %>  </p>
                                <p class="duedate" > <i class="fa fa-calendar"></i> <%= i.date %>  </p>
                            </div>
                        </div>
                        <div class="categ-box">
                            <p>  <%= i.category %>  </p>
                        </div>
                    </div class="card-item">
                <%}%>
        </div>

        
    </div>



    <script src="https://kit.fontawesome.com/13625477fb.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>